<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#category" aria-controls="category" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="category">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#"> All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> Entree</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> Noodel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> Desert</a>
      </li>
    </ul>
  </div>
  <div>
    <a class="btn" (click)="openOrderPage()" ><span class="fa fa-shopping-basket"></span> Order</a>
  </div>
</nav>
<div *ngIf="dishes">
  <div class="container menu-wrap" fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="20px">
    <div fxFlex="30" *ngFor="let dish of dishes" fxLayoutGap="10px">
      <div class="card" style="width: 20rem;">
        <div class="card-body row card-header-height">
          <div>
            <div class="card-title left" >{{dish.name}}</div>
          </div>
          <div>
            <div class="card-title price-right">${{dish.price}}</div>
          </div>

        </div>
        <img class="card-img-top" src={{dish.image}} alt="Card image cap">
        <a class="btn btn-primary" (click)="addDish(dish)">Order</a>
      </div>
    </div>
  </div>
</div>
<div [hidden]="dishes">
  <mat-spinner></mat-spinner> <h4>Loading... Please Wait</h4>
</div>
