<div class="fluid-contain">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="#"> All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"> Entree</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"> Noodel</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"> Desert</a>
    </li>
    <span class="flex-spacer"></span>
    <li class="nav-item align-self-end">
      <a class="btn" (click)="openOrderPage()" ><span class="fa fa-shopping-basket"></span> Order</a>
    </li>
  </ul>
</div>

<div class="container menu-wrap" fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="5px">
  <div fxFlex="30" *ngFor="let dish of dishes" fxLayoutGap="10px">
    <div class="card" style="width: 20rem;">
      <div class="card-body row">
        <div>
          <div class="card-title left" >{{dish.name}}</div>
        </div>
        <div>
          <div class="card-title price-right">${{dish.price}}</div>
        </div>

      </div>
      <img class="card-img-top" src={{dish.image}} alt="Card image cap">
      <a href="#" class="btn btn-primary">Order</a>
    </div>
    <!-- <mat-card class="menu-card">
      <mat-card-header>
        <mat-card-title class="card-title">{{dish.name}}</mat-card-title>
        <mat-card-subtitle>${{dish.price}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="dish-img" src={{dish.image}} alt="Photo of a Shiba Inu">
      <mat-card-content>

      </mat-card-content>
      <mat-card-actions>
        <button mat-button color='primary'>Add</button>
      </mat-card-actions>
    </mat-card> -->
  </div>
</div>
